body {
	background-color: #fafafa;
	margin: 0;
}
/*MENU*/
#menu {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
#menu .navbar .container-fluid .navbar-brand {
	font-size: 17.5px;
	font-weight: 800;
	text-align: center;
	justify-content: center;
}
#menu .navbar .collapse {
	justify-content: flex-end;
	align-content: flex-end;
	align-items: flex-end;
}
/*HOME PAGE*/
#homep {
	height: 100vh;
}
#homep .row {
	border-radius: 30px;
	background-color: #efefef;
	align-content: center;
	align-items: center;
	margin-top: 50px;
	height: 550px;
	margin-left: 50px;
	margin-right: 50px;
}
#homep .row .col .tailbar1 {
	display: flex;
	margin-left: 85px;
}
#homep .row .col .tailbar1 .p1 {
	color: black;
	font-weight: bold;
	font-size: 15px;
	border-radius: 20px;
	background-color: #d4daed;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	width: 105px;
}
#homep .row .col .tailbar1 .p2 {
	color: black;
	font-size: 15px;
	margin-left: 25px;
	margin-top: 5px;
}
#homep .row .col .p3 {
	font-size: 120px;
	font-weight: bold;
	line-height: 110px;
	color: black;
	text-align: center;
	margin-top: -10px;
}
#homep .row .col .tailbar2 {
	display: flex;
	margin-left: 85px;
	margin-top: 20px;
}
#homep .row .col .tailbar2 img {
	height: 40px;
	width: 40px;
}
#homep .row .col .tailbar2 .p4 {
	color: gray;
	font-size: 12px;
	font-weight: 600;
	margin-left: 20px;
}
#homep .row .col .tailbar2 .p5 {
	font-size: 14px;
	font-weight: 600;
	margin-left: -65px;
	margin-top: 15px;
}
#homep .row .col .tailbar2 .vr {
	height: 2.25em;
	margin-left: 50px;
}
#homep .row .col .tailbar2 .logo {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	background-color: lightgray;
	margin-left: 50px;
}
#homep .row .col .tailbar2 .p6 {
	color: gray;
	font-size: 12px;
	font-weight: 600;
	margin-left: 20px;
}
#homep .row .col .tailbar2 .p7 {
	font-size: 14px;
	font-weight: 600;
	margin-left: -60px;
	margin-top: 15px;
}
#homep .row .col .btn-dark {
	font-size: 12px;
	font-weight: 500;
	border-radius: 25px;
	width: 200px;
	height: 50px;
	margin-left: 80px;
	margin-top: 40px;
}
#homep .row .col .btn-outline-dark {
	font-size: 12px;
	font-weight: 500;
	border-radius: 25px;
	width: 200px;
	height: 50px;
	margin-left: 10px;
	margin-top: 40px;
}
#homep .row .col img {
	width: 600px;
	border-radius: 30px;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}
/*HOT BIDS*/
#hb {
	height: 100vh;
}
#hb h3 {
	font-weight: bold;
	margin-top: 50px;
	margin-left: 60px;
}
#hb .row {
	margin-top: 25px;
	gap: 30px;
	margin-left: 40px;
	margin-right: 40px;
}
#hb .row .col {
	background-color: white;
	border-radius: 30px;
	justify-content: flex-start;
	height: 450px;
	display: flex;
	flex-wrap: wrap;
}
#hb .row .col img {
	border-radius: 20px;
	height: 250px;
	width: auto;
	margin-top: 25px;
	margin-left: 17.5px;
}
#hb .row .col .row-m p {
	font-weight: bold;
	margin-top: 15px;
	margin-left: 25px;
}
#hb .row .col .row-b p {
	font-size: 14px;
	color: gray;
	margin-left: -235px;
	margin-top: 50px;
}
#hb .row .col .row-b span {
	font-weight: bold;
}
#hb .row .col .row-l hr {
	border-color: gray;
	width: 22.5em;
	margin-left: 25px;
	margin-top: -10px;
}
#hb .row .col .row-c img {
	height: 35px;
	width: 35px;
	border-radius: 20px;
	margin-top: -10px;
	margin-left: 25px;
}
#hb .row .col .row-c .p8 {
	font-size: 14px;
	font-weight: 700;
	margin-top: -27.5px;
	margin-left: 75px;
}
#hb .row .col .row-c .h {
	font-size: 14px;
	background-color: #f4718c;
	border-radius: 10px;
	color: white;
	margin-top: -35px;
	margin-left: 255px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	width: 42.5px;
	text-align: center;
}
#hb .row .col .row-c .m {
	font-size: 14px;
	background-color: #7a78e0;
	border-radius: 10px;
	color: white;
	margin-top: -37px;
	margin-left: 300px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	width: 42.5px;
	text-align: center;
}
#hb .row .col .row-c .s {
	font-size: 14px;
	background-color: #b6dba2;
	border-radius: 10px;
	color: white;
	margin-top: -37px;
	margin-left: 345px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	width: 42.5px;
	text-align: center;
}
#hb .row .col .row-cb p {
	font-size: 14px;
	color: gray;
	margin-left: -105px;
	margin-top: 50px;
}
#hb .row .col .row-cb span {
	font-weight: bold;
}
#hb .row .col .row-cbd p {
	font-size: 14px;
	color: gray;
	margin-left: -142.5px;
	margin-top: 50px;
}
#hb .row .col .row-cbd span {
	font-weight: bold;
}
/*LIVE AUCTIONS*/
#la {
	height: 100vh;
}
#la h3 {
	font-weight: bold;
	margin-top: 50px;
	margin-left: 60px;
}
#la .row {
	margin-top: 25px;
	gap: 30px;
	margin-left: 40px;
	margin-right: 40px;
}
#la .row .col {
	background-color: white;
	border-radius: 30px;
	justify-content: flex-start;
	height: 450px;
	display: flex;
	flex-wrap: wrap;
}
#la .row .col img {
	border-radius: 20px;
	height: 250px;
	width: auto;
	margin-top: 25px;
	margin-left: 17.5px;
}
#la .row .col .row-m p {
	font-weight: bold;
	margin-top: 15px;
	margin-left: 25px;
}
#la .row .col .row-b p {
	font-size: 14px;
	color: gray;
	margin-left: -252.5px;
	margin-top: 50px;
}
#la .row .col .row-b span {
	font-weight: bold;
}
#la .row .col .row-l hr {
	border-color: gray;
	width: 22.5em;
	margin-left: 25px;
	margin-top: -10px;
}
#la .row .col .row-c img {
	height: 35px;
	width: 35px;
	border-radius: 20px;
	margin-top: -10px;
	margin-left: 25px;
}
#la .row .col .row-c .p8 {
	font-size: 14px;
	font-weight: 700;
	margin-top: -27.5px;
	margin-left: 75px;
}
#la .row .col .row-c .h {
	font-size: 14px;
	background-color: #f4718c;
	border-radius: 10px;
	color: white;
	margin-top: -35px;
	margin-left: 255px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	width: 42.5px;
	text-align: center;
}
#la .row .col .row-c .m {
	font-size: 14px;
	background-color: #7a78e0;
	border-radius: 10px;
	color: white;
	margin-top: -37px;
	margin-left: 300px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	width: 42.5px;
	text-align: center;
}
#la .row .col .row-c .s {
	font-size: 14px;
	background-color: #b6dba2;
	border-radius: 10px;
	color: white;
	margin-top: -37px;
	margin-left: 345px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	width: 42.5px;
	text-align: center;
}
#la .row .col .row-cb p {
	font-size: 14px;
	color: gray;
	margin-left: -75px;
	margin-top: 50px;
}
#la .row .col .row-cb span {
	font-weight: bold;
}
#la .row .col .row-cbd p {
	font-size: 14px;
	color: gray;
	margin-left: -50px;
	margin-top: 50px;
}
#la .row .col .row-cbd span {
	font-weight: bold;
}
/*NFT*/
#nft {
	height: 100vh;
}
#nft .row {
	height: 100vh;
	position: relative;
	text-align: center;
	margin-right: 1px;
}
#nft .row .col img {
	border-radius: 40px;
	margin-top: 100px;
	height: 575px;
}
#nft .row .col .text {
	font-size: 14px;
	color: lightgray;
	background-color: black;
	border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	width: 42.5px;
	position: absolute;
  	top: 125px;
  	right: 750px;
}
#nft .row .col .text2 {
	font-size: 14px;
	color: lightgray;
	background-color: black;
	border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	width: 130px;
	position: absolute;
  	top: 125px;
  	right: 610px;
}
/*NFT2*/
#nft2 .row2 {
	height: 50vh;
	display: flex;
}
#nft2 .row2 .col-6 .row1 {
	display: flex;
}
#nft2 .row2 .col-6 .row1 .aei {
	font-weight: 500;
	margin-top: 75px;
	margin-left: 100px;
	color: gray;
}
#nft2 .row2 .col-6 .row1 .h {
	font-size: 14px;
	background-color: #f4718c;
	border-radius: 15px;
	color: white;
	width: 42.5px;
	text-align: center;
	margin-top: 75px;
	margin-left: 10px;
	padding-top: 1px;
	padding-left: 2px;
	padding-right: 2px;
}
#nft2 .row2 .col-6 .row1 .m {
	font-size: 14px;
	background-color: #7a78e0;
	border-radius: 15px;
	color: white;
	width: 42.5px;
	text-align: center;
	margin-top: 75px;
	margin-left: 5px;
	padding-top: 1px;
	padding-left: 2px;
	padding-right: 2px;
}
#nft2 .row2 .col-6 .row1 .s {
	font-size: 14px;
	background-color: #b6dba2;
	border-radius: 15px;
	color: white;
	width: 42.5px;
	text-align: center;
	margin-top: 75px;
	margin-left: 5px;
	padding-top: 1px;
	padding-left: 2px;
	padding-right: 2px;
}
#nft2 .row2 .col-6 .row2 {
	flex-wrap: wrap;
}
#nft2 .row2 .col-6 .row2 .text {
	margin-left: 100px;
	font-size: 120px;
	font-weight: bold;
	color: black;
	text-align: center;
	line-height: 80px;
}
#nft2 .row2 .col-6 .row2 .text2 {
	margin-left: 100px;
	font-size: 33px;
	margin-top: -150px;
	color: gray;
}
#nft2 .row2 .col-6 .row3 {
	display: flex;
	margin-left: 100px;
	margin-top: -200px;
}
#nft2 .row2 .col-6 .row3 img {
	height: 40px;
	width: 40px;
	border-radius: 100px;
}
#nft2 .row2 .col-6 .row3 .p4 {
	color: gray;
	font-size: 12px;
	font-weight: 600;
	margin-left: 20px;
}
#nft2 .row2 .col-6 .row3 .p5 {
	font-size: 14px;
	font-weight: 600;
	margin-left: -65px;
	margin-top: 15px;
}
#nft2 .row2 .col-6 .row3 .vr {
	height: 2.25em;
	margin-left: 50px;
}
#nft2 .row2 .col-6 .row3 .logo {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	background-color: lightgray;
	margin-left: 50px;
}
#nft2 .row2 .col-6 .row3 .p6 {
	color: gray;
	font-size: 12px;
	font-weight: 600;
	margin-left: 20px;
}
#nft2 .row2 .col-6 .row3 .p7 {
	font-size: 14px;
	font-weight: 600;
	margin-left: -60px;
	margin-top: 15px;
}
#nft2 .row2 .col-61 {
	width: 550px;
	height: 250px;
	margin-top: 75px;
	margin-left: 50px;
	border-radius: 30px;
}
#nft2 .row2 .col-61 {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}
#nft2 .row2 .col-61 img {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	margin-top: 40px;
	margin-left: 40px;
}
#nft2 .row2 .col-61 .atext {
	font-weight: 500;
	color: gray;
	margin-top: 35px;
	margin-left: 20px;
}
#nft2 .row2 .col-61 .atext span {
	color: black;
}
#nft2 .row2 .col-61 .mtext {
	font-size: 36px;
	font-weight: bold;
	margin-top: -50px;
	margin-left: 120px;
}
#nft2 .row2 .col-61 .mtext span {
	color: gray;
}
#nft2 .row2 .col-61 .input-group {
	position: relative;
	width: 475px;
	height: 75px;
	margin-top: 10px;
}
#nft2 .row2 .col-61 .input-group .form-control {
	border-radius: 50px;
	margin-left: 40px;
	padding-left: 25px;
	background-color: #fafafa;
	z-index: 2;
}
#nft2 .row2 .col-61 .btn-dark {
	position: absolute;
	border-radius: 50px;
	right: 3px;
	top: 3px;
	bottom: 3px;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	margin-right: 10px;
  	padding-left: 30px;
  	padding-right: 30px;
  	border-radius: 100px;
  	font-size: 14px;
}
#nft2 .row3 {
	height: 50vh;
	display: flex;
	margin-right: 100px;
}
#nft2 .row3 .col-6:first-child {
	margin-top: 100px;
	margin-left: 100px;
}
#nft2 .row3 .col-6 {
	margin-top: 100px;
}
#nft2 .row3 .col-6 h3 {
	font-weight: 600;
}
#nft2 .row3 .col-6 p {
	color: gray;
	padding-right: 100px;
	margin-top: 25px;
}
#nft2 .row3 .col-6 .roww {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	width: 600px;
}
#nft2 .row3 .col-6 .roww img {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
#nft2 .row3 .col-6 .roww .atext {
	font-size: 14px;
	font-weight: 500;
	color: black;
	margin-left: 10px;
	margin-top: 5px
}
#nft2 .row3 .col-6 .roww .atext span {
	color: gray;
}
#nft2 .row3 .col-6 .roww .date {
	font-size: 10px;
	color: gray;
	margin-left: -263px;
	margin-top: 25px;
}
#nft2 .row3 .col-6 .roww .mtext {
	font-size: 20px;
	font-weight: bold;
	color: black;
	margin-top: 10px;
	margin-left: 40px;
}
#nft2 .row3 .col-6 .roww .mtext span {
	color: gray;
}
/*WALLET*/
#wallet {
	height: 100vh;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
}
#wallet .bi-wallet2 {
	border-radius: 100px;
	background-color: #b3daa2;
	height: 50px;
	width: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 200px;
}
#wallet h2 {
	color: black;
	margin-top: 10px;
	font-weight: bold;
}
#wallet .bolomj {
	display: flex;
	gap: 30px;
	justify-content: center;
}
#wallet .metamask {
	margin-top: 25px;
}
#wallet .metamask img {
	border-radius: 25px;
	background-color: white;
	padding-top: 35px;
	padding-bottom: 60px;
	padding-left: 45px;
	padding-right: 45px;
	height: 200px;
	width: 200px;
}
#wallet .metamask p {
	margin-top: -50px;
}
#wallet .coinbase {
	margin-top: 25px;
}
#wallet .coinbase img {
	border-radius: 25px;
	background-color: white;
	padding-top: 35px;
	padding-bottom: 70px;
	padding-left: 45px;
	padding-right: 45px;
	height: 200px;
	width: 200px;
}
#wallet .coinbase p {
	margin-top: -50px;
}
#wallet .trust {
	margin-top: 25px;
}
#wallet .trust img {
	border-radius: 25px;
	background-color: white;
	padding-top: 35px;
	padding-bottom: 70px;
	padding-left: 50px;
	padding-right: 50px;
	height: 200px;
	width: 200px;
}
#wallet .trust p {
	margin-top: -50px;
}
/*DONE*/
#done {
	height: 100vh;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
}
#done .bagts {
	padding-top: 200px;
}
#done p {
	color: gray;
	margin-bottom: -10px;
}
#done h1 {
	font-size: 96px;
	font-weight: 600;
}
#done .btn-dark {
	font-size: 14px;
	width: 110px;
	text-align: center;
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}